
.WUR-Login-Container{
  height: 90vh;
  position: relative;
  border: 5px solid transparent;
  align-items: center;
  text-align: center;
  font-size: 2.0vw;
  width: 100%;

}

.WUR-Login-Button-Container-Center{
    top: 70vh;
 
}


.WUR-Login-DropDownMenu{
    top: 3vh;
}




button {
    padding: 1rem;
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
    border-radius: 90%;
    color: black;
    align-items: center;
    margin-right: 250px;
    top: 70vh;

}


.hover:active {
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    color: white;
    border-radius: 90%;
    align-items: center;
    top: 70vh;
  }
  

  header {
      font-size: 3.0vw;
      color: white;
      font-style: italic;
      font-weight: bolder;
  }